/*------------------------------------*\
  #BUTTON
\*------------------------------------*/
.Button {
  background: black;
  border: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  height: 30px;
  width: 150px;
  margin-top: 100px;
  cursor:pointer;
}

.Button:hover {
  background:#801515;
  color: white;
  transition:background .3s ease;
}