/*------------------------------------*\
  #APP
\*------------------------------------*/

.App {

}

.Main {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.Aside {
  border: 2px solid blue;
  background: grey;
  height: 100vh;
}

.Button--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
}

.Button--container button {
  height: 50px;
  margin-right: 5px;
}
