.card {
  width: 18rem;
  border: 3px solid grey;
  border-radius: 5px;
  height: 28rem;
  margin: 2rem 0;
  position: relative;
}

.card-img {
  background: lightblue;
  height: 40%;
  padding: 5px;
}

.card-body {
  padding: 5px;
}

.card-text {
  padding: 5px;
}

.card {
  position: relative;
  top: 10px;
  right: 10px;
}

.favorite-card {
  position: absolute;
  top: 5px;
  right: 20px;
}

.active-favorite {
  color: red;
  background: black;
}

/* .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .7em  solid #000;
  border-left: .3em solid transparent;
  
  font-size: 15px;
}

.active-favorite, active-favorite {
  border-right: 1em solid transparent;
  border-bottom: .7em  solid rgb(228, 8, 8);
  border-left: 1em solid transparent;
}

.star:before, .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .7em  solid #000;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
.star:after {
  transform: rotate(35deg);
} */