/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.Header {
  background: peru;
  display: flex;
  justify-content: space-between;
}

.Button__favorite {
  background: red;
}
